
services:
  - type: web
    name: n8n
    env: docker
    region: frankfurt
    plan: free
    dockerfilePath: ./Dockerfile
    healthCheckPath: /healthz
    envVars:
      - key: N8N_PORT
        value: "10000"
      - key: N8N_HOST
        value: "0.0.0.0"
      - key: N8N_PROTOCOL
        value: "http"
      - key: GENERIC_TIMEZONE
        value: Europe/Paris

